.full_page{
    width: 100%;
text-align: center;
margin-top: 80px;
}
.parent_add_product_acordion {
    display: grid;
    text-align: right;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1_add_product_acordion { grid-area: 1 / 1 / 2 / 2; }
    .div2_add_product_acordion {height: fit-content; grid-area: 2 / 1 / 3 / 2; }
    .div3_add_product_acordion {height: fit-content; grid-area: 3 / 1 / 4 / 2; }
    .div4_add_product_acordion {height: fit-content; grid-area: 4 / 1 / 5 / 2; }
    .div5_add_product_acordion {height: fit-content; grid-area: 5 / 1 / 6 / 2; }
    .div6_add_product_acordion {height: fit-content; grid-area: 6 / 1 / 7 / 2; }
    .div7_add_product_acordion {height: fit-content; grid-area: 7 / 1 / 8 / 2; }

    .field_style{
        padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    max-width: 880px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(12 0 51 / 10%);
    text-align: right;
    margin-bottom: 30px;
    }
    .field_style_not_selected{
        padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    max-width: 880px;
    border-radius: 5px;
    background-color: rgb(249,249,249);
    box-shadow: 0 2px 4px 0 rgb(12 0 51 / 10%);
    text-align: right;
    margin-bottom: 30px;
    }
    .text_select{
        color: #000;
        font-size: 20px;
        padding-right: 5.5%;
        margin-bottom: 0;
        font-weight: 300;
    }
    .text_not_select{
        font-family: Rubik;
    font-size: 20px;
    padding: 20px 5%;
    color: #acacac;
    margin-right: .5%;
    font-weight: 300;
    }
    .circle_before_select{
        cursor: pointer;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        padding: 0px 5px;
        background-color: inherit;
        border: 2px solid #ccc;
        color: #999;
        text-align: center;
        font: 20px Arial, sans-serif;
        font-weight:500 ;     
      }
    .circle_selected {
        
        border-radius: 50%;
        width: 24px;
        height: 24px;
        padding: 0px 5px;
        background: #fff;
        border: 2px solid #0fca80;
        color: #0fca80;
        text-align: center;
        font: 20px Arial, sans-serif;
        font-weight:600 ;
      }
      .circle_after_check{
        cursor: pointer;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        padding: 0px 5px;
        background-color: #d6f2e4;
        /* border: 2px solid #0fca80; */
        color: #0fca80;
        text-align: center;
        font: 20px Arial, sans-serif;
        font-weight:500 ;
          
      }
.adress_field__note{
    color: #000;
    font-size: 1rem;
    font-weight: inherit;
    margin-bottom: 0;
    margin-top: 20px;
    line-height: 22px;
}
.parent_address_field_info {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows:0.2fr 1.5fr 0.2fr 1.5fr 0.2fr 1.5fr 0.2fr 1.5fr; */
    grid-column-gap: 0px;
    }
    
    .div1_address_field_info { grid-area: 1 / 3 / 2 / 5; }
    .div2_address_field_info { grid-area: 2 / 1 / 3 / 5; }
    .div3_address_field_info {
        margin-top: 10px;
        grid-area: 3 / 3 / 4 / 5; }
    .div4_address_field_info { grid-area: 4 / 1 / 5 / 5; }
    .div5_address_field_info {
        margin-top: 10px;
         grid-area: 5 / 3 / 6 / 5; }
    .div6_address_field_info { grid-area: 6 / 1 / 7 / 5; }
    .div7_address_field_info {
        margin-top: 10px;
         grid-area: 7 / 3 / 8 / 5; }
    .div8_address_field_info { grid-area: 8 / 1 / 9 / 5; }

    @media screen and (min-width: 780px) {
        .parent_contact_infoA {
            display: grid;
            direction: ltr;
            text-align: right;
            grid-template-columns: repeat(8, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            }
            
            .div1_contact_infoA { grid-area: 1 / 6 / 2 / 9; }
            .div2_contact_infoA {grid-area: 1 / 4 / 2 / 6; }
            .div3_contact_infoA {grid-area: 2 / 6 / 3 / 9; }
            .div4_contact_infoA {grid-area: 2 / 4 / 3 / 6; }
            .div5_contact_infoA {grid-area: 2 / 3 / 3 / 4; }
            .div6_contact_infoA {grid-area: 2 / 1 / 3 / 3; }

        .parent_media_body {
            direction: ltr;
            text-align: center;
            display: grid;
            margin-left: 20px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            }
            
            .div1_media_body { grid-area: 1 / 3 / 2 / 4; }
            .div2_media_body { grid-area: 1 / 2 / 2 / 3; }
            .div3_media_body { grid-area: 1 / 1 / 2 / 2; }
            .div4_media_body { grid-area: 2 / 3 / 3 / 4; }
            .div5_media_body { grid-area: 2 / 2 / 3 / 3; }
            .div6_media_body { grid-area: 2 / 1 / 3 / 2; }
            .div7_media_body { grid-area: 3 / 3 / 4 / 4; }
            .div8_media_body { grid-area: 3 / 2 / 4 / 3; }
            .div9_media_body { grid-area: 3 / 1 / 4 / 2; }
    
        .parent_media_main {
          text-align: center;
            display: grid;
            direction: ltr;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 0px;
            }
            
            .div1_media_main {
                
                text-align: right;
                float: right;
                 grid-area: 1 / 3 / 2 / 4; }
            .div2_media_main { grid-area: 1 / 2 / 2 / 3; }
            .div3_media_main { grid-area: 1 / 1 / 2 / 2; }


        .field_select{
            width: 40%;
            cursor: pointer;
            height: 40px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            font-size: 14px;
            text-indent: 8px;
            direction: rtl;
            font-family: Rubik,sans-serif;
        }
        .field_select_reverse{
            width: 60%;
            cursor: pointer;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            font-size: 14px;
            text-indent: 8px;
            direction: rtl;
            font-family: Rubik,sans-serif;
            min-height: 150px;
        }::placeholder{
            color: #ccc;
            padding: 20px;
            width: 80%;
            }
        .flex_container_textArea {
            width:60%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: normal;
            align-content: normal;
          }
        .field_select__next{
            width: 60%;
            cursor: pointer;
            height: 40px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            font-size: 14px;
            text-indent: 8px;
            direction: rtl;
            font-family: Rubik,sans-serif;
        }
        .continue_button_ok::before{
            content: "להמשיך לשלב הבא";
          }
          .parent_radios_responsive {
              margin-left: 20px;
            display: grid;
            direction: ltr;
            text-align: right;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            }
            
            .div1_radios_responsive { grid-area: 1 / 4 / 2 / 5; }
            .div2_radios_responsive { grid-area: 1 / 3 / 2 / 4; }
            .div3_radios_responsive { grid-area: 1 / 2 / 2 / 3; }
            .div4_radios_responsive { grid-area: 1 / 1 / 2 / 2; }
            .div5_radios_responsive { grid-area: 2 / 4 / 3 / 5; }
            .div6_radios_responsive { grid-area: 2 / 3 / 3 / 4; }
            .div7_radios_responsive { grid-area: 2 / 2 / 3 / 3; }
            .div8_radios_responsive { grid-area: 2 / 1 / 3 / 2; }
            .div9_radios_responsive { grid-area: 3 / 4 / 4 / 5; }
            .div10_radios_responsive { grid-area: 3 / 3 / 4 / 4; }
            .div11_radios_responsive { grid-area: 3 / 2 / 4 / 3; }
            .div12_radios_responsive { grid-area: 3 / 1 / 4 / 2; }

            
                .video_input_border{
                    border: 2px dotted rgb(168, 168, 168);
                    border-radius: 2.5px;
                    height:12rem;
                }
                .main_pic_input_border{
                    border: 8px solid rgb(238,238,238);
                    border-radius: 2.5px;
                    height:12rem;
                }
                .fit_image{
            max-width: 100%;

                    height: 11rem;
                    object-fit: scale-down;
                  }
                
                  .verified_number{
                    color: #4dd8a1;
                    border: 1px solid #4dd8a1;
                    background-color: #dff7ed;
                    height: 38px;
                    
                    text-align: center;
                }
                .verified_number::placeholder{
                    color:#4dd8a1;
                    text-align: center;
                }
                }
    
      @media screen and (max-width: 780px) {
        .verified_number{
            color: #4dd8a1;
            border: 1px solid #4dd8a1;
            background-color: #dff7ed;
            height: 38px;
            text-align: center;
            margin-top: 40px;
        }
        .verified_number::placeholder{
            color:#4dd8a1;
            text-align: center;
        }
        .parent_contact_infoA {
            display: grid;
            direction: ltr;
            text-align: right;
            grid-template-columns: repeat(8, 1fr);
            /* grid-template-rows: repeat(5, 1fr); */
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            }
            
            .div1_contact_infoA { grid-area: 1 / 5 / 2 / 9; }
            .div2_contact_infoA { grid-area: 3 / 5 / 4 / 9; }
            .div3_contact_infoA { grid-area: 2 / 1 / 3 / 9; }
            .div4_contact_infoA { grid-area: 4 / 4 / 5 / 9; }
            .div5_contact_infoA { grid-area: 4 / 1 / 5 / 4; }
            .div6_contact_infoA { grid-area: 5 / 4 / 6 / 9; }
        
        .parent_media_body {
            direction: ltr;
            display: grid;
            text-align: center;
            margin-left: 20px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            }
            
            .div1_media_body { grid-area: 1 / 2 / 2 / 3; }
            .div2_media_body { grid-area: 1 / 1 / 2 / 2; }
            .div3_media_body { grid-area: 2 / 2 / 3 / 3; }
            .div4_media_body { grid-area: 2 / 1 / 3 / 2; }
            .div5_media_body { grid-area: 3 / 2 / 4 / 3; }
            .div6_media_body { grid-area: 3 / 1 / 4 / 2; }
            .div7_media_body { grid-area: 4 / 2 / 5 / 3; }
            .div8_media_body { grid-area: 4 / 1 / 5 / 2; }
            .div9_media_body { grid-area: 5 / 1 / 6 / 3; }
        .fit_image{
            /* width: 200px; */
            max-width: 100%;
            height: 7rem;
            object-fit: scale-down;
          }
        .video_input_border{
            border: 2px dotted rgb(168, 168, 168);
            border-radius: 2.5px;
            height:8rem;
        }
        .main_pic_input_border{
            border: 8px solid rgb(238,238,238);
            border-radius: 2.5px;
            height:8rem;
        }
        .parent_media_main {
            display: grid;
            direction: ltr;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 0px;
            }
            
            .div1_media_main {
                
                text-align: right;
                float: right;
                grid-area: 1 / 2 / 2 / 3; }
            .div2_media_main { margin-left: 20px; grid-area: 1 / 1 / 2 / 2; }
            .div3_media_main { grid-area: 1 / 1 / 2 / 2; }
        
        .parent_radios_responsive {
            display: grid;
            margin-left: 20px;
            text-align: right;
            direction: ltr;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            }
            
            .div1_radios_responsive { grid-area: 1 / 2 / 2 / 3; }
            .div2_radios_responsive { grid-area: 1 / 1 / 2 / 2; }
            .div3_radios_responsive { grid-area: 2 / 2 / 3 / 3; }
            .div4_radios_responsive { grid-area: 2 / 1 / 3 / 2; }
            .div5_radios_responsive { grid-area: 3 / 2 / 4 / 3; }
            .div6_radios_responsive { grid-area: 3 / 1 / 4 / 2; }
            .div7_radios_responsive { grid-area: 4 / 2 / 5 / 3; }
            .div8_radios_responsive { grid-area: 4 / 1 / 5 / 2; }
            .div9_radios_responsive { grid-area: 5 / 2 / 6 / 3; }
            .div10_radios_responsive { grid-area: 5 / 1 / 6 / 2; }
            .div11_radios_responsive { grid-area: 6 / 2 / 7 / 3; }
            .div12_radios_responsive { grid-area: 6 / 1 / 7 / 2; }

        .continue_button_ok::before{
            content: "המשך";
          }
        .field_select{
            width: 80%;
            cursor: pointer;
            height: 40px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            font-size: 14px;
            text-indent: 8px;
            direction: rtl;
            font-family: Rubik,sans-serif;
        }
        .field_select_reverse{
            width:90%;
            min-height: 150px;
            cursor: pointer;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            font-size: 14px;
            text-indent: 8px;
            direction: rtl;
            font-family: Rubik,sans-serif;
        }::placeholder{
            color: #ccc;
            padding: 20px;
            width: 80%;
            }
        .flex_container_textArea {
            width:90%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: normal;
            align-content: normal;
          }

        .field_select__next{
            width: 80%;
            cursor: pointer;
            height: 40px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            font-size: 14px;
            text-indent: 8px;
            direction: rtl;
            font-family: Rubik,sans-serif;
        }
      }
.field_info_title{
    font-size: 14px;
    color: #333;
}
    .parent_address_field_info__next {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* grid-template-rows:0.2fr 1.5fr 0.2fr 1.5fr 0.2fr 1.5fr repeat(6, 1fr); */
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        }
        
        .div1_address_field_info__next { grid-area: 1 / 3 / 2 / 5; }
        .div2_address_field_info__next { grid-area: 2 / 3 / 3 / 5; }
        .div3_address_field_info__next { grid-area: 3 / 3 / 4 / 5; }
        .div4_address_field_info__next { grid-area: 4 / 3 / 5 / 5; }
        .div5_address_field_info__next { grid-area: 3 / 1 / 4 / 3; }
        .div6_address_field_info__next { grid-area: 4 / 1 / 5 / 3; }
        .div7_address_field_info__next { grid-area: 5 / 3 / 6 / 5; }
        .div8_address_field_info__next { grid-area: 6 / 2 / 7 / 5; }
        .div9_address_field_info__next { grid-area: 7 / 2 / 8 / 5; }
        .div10_address_field_info__next { grid-area: 8 / 3 / 9 / 5; }
        .div11_address_field_info__next { grid-area: 9 / 2 / 10 / 5; }
        .div12_address_field_info__next { grid-area: 10 / 2 / 11 / 5; }
        .div13_address_field_info__next { grid-area: 11 / 1 / 13 / 5; }
#field_select__disabled::placeholder{
    color: gray;
    opacity: 0.5;
}
.goverment_note{
    font-size: 11px;
}
.updated_checkbox{
    width: 16px;
    height: 16px;    
    color: #ccc;
    text-align: right;
    float: right;
    margin-top: 4px;
    border: 1px solid #eee;
}
.updated_title{
    margin-right: 20px;
    font-size: 14px;
    color: #ccc;
}
.parent_buttons {
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 20px;
    }
    
    .div1_buttons {  grid-area: 1 / 2 / 2 / 3; }
    .div2_buttons {text-align: left; grid-area: 1 / 1 / 2 / 2; }

    .continue_button_ok{
        margin-left: 10%;
        min-width: 90px; 
        font-family: Rubik;
        font-size: 14px;
        background-color: #fff;
        color: #ff7100;
        border: 1px solid #ff7100;
        text-align: center;
        box-sizing: border-box;
        height: 35px;
        width: fit-content;
        border-radius: 17.5px;
        padding: 6px;
        font-weight: 500;
    }
    .back_button_ok{
    font-family: Rubik;
    font-size: 14px;
    color: #363636;
    text-align: center;
    box-sizing: border-box;
    height: 35px;
    width: 90px;
    border: 1px solid #ccc;
    border-radius: 17.5px;
    background-color: #fff;
    }
    
.invalid_field_note{
    color: #ff2a2b;
}
/* section2 */
.parent_section2 {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(6, 1fr); */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1_section2 { grid-area: 1 / 1 / 2 / 2; }
    .div2_section2 { grid-area: 2 / 1 / 3 / 2; }
    .div3_section2 { grid-area: 3 / 1 / 4 / 2; }
    .div4_section2 { grid-area: 4 / 1 / 5 / 2; }
    .div5_section2 { grid-area: 5 / 1 / 6 / 2; }
    .div6_section2 { grid-area: 6 / 1 / 7 / 2; }

    .parent_parking {
        display: grid;
        direction: ltr;
  align-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1_parking {display: flex;
            align-items: center;
             grid-area: 1 / 4 / 2 / 5; }
        .div2_parking {display: flex; align-items: center;
            grid-area: 1 / 4 / 2 / 5; grid-area: 1 / 3 / 2 / 4; }
        .div3_parking {display: flex;align-items: center;
            grid-area: 1 / 4 / 2 / 5; grid-area: 1 / 2 / 2 / 3; }
        .div4_parking {display: flex;align-items: center;
            grid-area: 1 / 4 / 2 / 5; grid-area: 1 / 1 / 2 / 2; }
    .selected{
     background-color: rgb(238,238,238);
     width: 100%;
     height: 100%;
    }
    .selected:hover{
        background-color: rgb(202, 202, 202);
        width: 100%;
        height: 100%;
       }
    .not_selected{
        background-color: white;
        width: 100%;
        height: 100%;
    }
    .not_selected:hover{
        background-color: white;
        width: 100%;
        height: 100%;
        color: orange;
    }
    
    .radio_select_center_text{
        margin: 0 auto;
    }
    .bold_title{
        font-size: 1.2em;
    font-weight: 500;
    }
    .radio_button_field{
        direction: rtl;
        background-color: white;
        padding: 2px 6px;
        font-size: 14px;
        width: 100%;
        border-radius: 17px;
        border: 1px solid gray;
        height: 36px;
        text-align: right;
    }
    .radio_button_field_selected{
        direction: rtl;
        background-color: rgb(242, 242, 242);
        padding: 2px 6px;
        font-size: 14px;
        width: 100%;
        border-radius: 17px;
        border: 1px solid gray;
        height: 36px;
        text-align: right;
    }
    .radio_button_field:focus{
        direction: rtl;
        background-color: rgb(255, 255, 255);
        padding: 2px 6px;
        color: #ff7100;
        font-size: 14px;
        width: 100%;
        border-radius: 17px;
        border: 1px solid gray;
        height: 36px;
        text-align: right;
    }      
      .flex_items_textArea:nth-child(1) {
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
      }
      
      .flex_items_textArea:nth-child(2) {
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
      }
      .word_limit_textArea{
        width: 20%;
        font-size: 14px;
        color: #ccc;
        font-weight: 300;
      }
      .media_note{
          font-size: 15px;
      }


        .video_input{
            cursor: pointer;
            opacity: 0;
            width: 33%;   
        }
     
        .flex-container_video {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;
          }
          
          .flex-items_video:nth-child(1) {
              color: #9d9d9d;
            display: block;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;
            align-self: auto;
            order: 0;
            font-size: 14px;
          }
          
          .flex-items_video:nth-child(2) {
            font-size: 14px;
            display: block;
            color: #9d9d9d;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;
            align-self: auto;
            order: 0;
          }
         

.contact_infoA_input{
    width: 80%;
    text-align: right;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    text-indent: 8px;
    font-family: Rubik;
    padding: 0;
}
.name_contact_infoA_input{
    width: 93%;
    text-align: right;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    text-indent: 8px;
    font-family: Rubik;
    padding: 0;
}
.add_contact{
    margin-top: 40px;
    color: #ff7100;
    cursor: pointer;
    font-size: 14px;
}
.agree_terms{
    background-color: #f9f9f9;  
    display: flex;
    align-items: center;
    padding: 6px;
    border: none;
    margin-top: 40px;
    font-size: 1em;
    font-weight: 500;
}
.terms_link{
    text-decoration: none;
    color: #ff6600;
}
.terms_note{
    margin-top: 5px;
    font-size: 14px;
    color: #ff2a2b;
    font-weight: 100;
    margin-right: 14px;
}
.continue_button_pic_route{
    margin-left: 10%;
    min-width: 90px; 
    font-family: Rubik;
    font-size: 14px;
    background-color: #fff;
    color: #ff7100;
    border: 1px solid #ff7100;
    text-align: center;
    box-sizing: border-box;
    height: 35px;
    width: fit-content;
    border-radius: 17.5px;
    padding: 6px;
    font-weight: 500;
}
.pick_route_title{
    color: #000;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 0;
}

.parent_routes {
    margin-top: 40px;
    max-height: 510px;
    display: grid;
    text-align: center;
    direction: ltr;
    padding: 0 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    }
    
    .div1_routes { grid-area: 2 / 3 / 6 / 4; }
    .div2_routes { grid-area: 1 / 2 / 7 / 3; }
    .div3_routes { grid-area: 2 / 1 / 6 / 2; }
.basic_route{
    text-align: center;
    /* height: 343px; */
    width: 238px;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgb(43 43 43 / 10%);
    position: relative;
}
.vip_route{
    text-align: center;
    background-color: rgb(254,251,220);
    width: 238px;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgb(43 43 43 / 10%);
    position: relative;
}
.vip_route_s_sc{
    text-align: right;
    background-color: rgb(254,251,220);
    /* width: 238px; */
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgb(43 43 43 / 10%);
    position: relative;
}
.marked_route_s_sc{
    margin-top: 30px;
    text-align: right;
    background-color: rgb(255,247,247);
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgb(43 43 43 / 10%);
    position: relative;
}
.marked{
    text-align: center;
    /* height: 343px; */
    background-color: rgb(255,247,247);
    width: 238px;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgb(43 43 43 / 10%);
    position: relative;
}
.route_title{
    font-size: 18px;
    font-weight: 500;
    padding-top: 30px;
}
.route_title_s_sc{
    font-size: 18px;
    font-weight: 500;
}
.parent_basic {
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:1fr 1fr 0.4fr 1fr 0.2fr ;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;    
}
    
    .div1_basic { margin-top: 20px; grid-area: 1 / 2 / 2 / 3; }
    .div2_basic { grid-area: 3 / 2 / 4 / 4; }
    .div3_basic { grid-area: 4 / 1 / 5 / 4; }
    .div4_basic {direction: 'ltr';  grid-area: 5 / 1 / 6 / 4; }
.route_include{
    float: right;
    margin-right: 15px;
    font-size: 14px;
}
.route_include_s_sc{
    font-size: 14px;
    margin-top: 5px;
}
.route_not_include{
    float: right;
    margin-right: 15px;
    font-size: 14px;
    opacity: 0.5;
}
.parent_vip {
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 0.2fr 0.2fr 0.2fr 1fr 0.4fr ;
    grid-column-gap: 0px;
    height: 100%;
    grid-row-gap: 0px;
    }
    
    .div1_vip {margin-top:20px ; grid-area: 1 / 3 / 2 / 4; }
    .div2_vip { grid-area: 2 / 2 / 3 / 5; }
    .div3_vip { grid-area: 4 / 1 / 5 / 6; }
    .div4_vip { grid-area: 5 / 1 / 6 / 6; }
    .div5_vip { grid-area: 6 / 1 / 7 / 6; }
    .div6_vip {direction: rtl; grid-area: 7 / 1 / 8 / 6; }
    .crown_icon{
        color: gray;
        font-weight: 300;
        font-size: 24px;
    }
    .crown_vip{
        width: 81px;
        border-radius: 4px;
        background-color: #fff;
        margin: 0 auto;
        padding: 6px 10px;
        border: 1px solid #ff7100;
        vertical-align: middle;
    font-size: 14px;
    color: #f4a401;
    }
    .crown_vip_s_sc{
        width: 71px;
        border-radius: 4px;
        background-color: #fff;
        margin: 0 auto;
        padding: 6px 10px;
        border: 1px solid #ff7100;
        vertical-align: middle;
    font-size: 12px;
    color: #f4a401;
    }
    .vip_button{
        background-color: #ff7100;
        color: #fff;
        border: 1px solid #ff7100;
        border-radius: 4px;
        padding: 8px 20px;
        font-size: 1em;
        font-weight: 500;
        cursor: pointer;
        font-family: Rubik;
    }

 
    .vip_button__days{
        font-size: 14px;
        font-weight: 200;
    }
    .not_vip_button{
        background-color: #fff;
        border: 1px solid #ff7100;
        color: #ff7100;
        border-radius: 4px;
        padding: 8px 20px;
        font-size: 1em;
        cursor: pointer;
        font-family: Rubik;
        width: 206px;
    }
    .parent_route_s_sc {
        text-align: center;
        margin-left: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        .div1_route_s_sc { grid-area: 1 / 1 / 2 / 2; }
        .div2_route_s_sc { grid-area: 2 / 1 / 3 / 2; }
        .div3_route_s_sc { grid-area: 3 / 1 / 4 / 2; }
  
            
        .vip_button_s_sc{
            width: 80%;
            margin: 0 auto;
            text-align: center;
            background-color: #ff7100;
            color: #fff;
            border: 1px solid #ff7100;
            border-radius: 4px;
            padding: 8px 20px;
            font-size: 1em;
            font-weight: 500;
            cursor: pointer;
            font-family: Rubik;
        }
        .marked_button_s_sc{
            width: 80%;
            margin: 0 auto;
            text-align: center;
            background-color: white;
            color: #ff7100;
            border: 1px solid #ff7100;
            border-radius: 4px;
            padding: 8px 20px;
            font-size: 1em;
            font-weight: 500;
            cursor: pointer;
            font-family: Rubik;
        }
        .error{
            border:1px solid #c00 !important;
        }