*{
    font-family: 'Rubik', sans-serif;
    margin:0 ;
    padding: 0;
}
.accordion_title{
    float: right;
    color: black;

border: none;
background: none;
}
.accordion_title:focus { 
    outline: none;
    color: black;
    border: none;
}
.numIcon{
    text-align: center;
    margin-top: 0.5rem;
    border: 2px solid #0fca80;
    width: 1.5rem;
    height: 1.5rem;
    font-family: Rubik;
    font-weight: 800;
    border-radius: 50%;
    color: #0fca80;
    float: right;
}
.accordion_body{
    float: right;
}
/* adress section */
.adress_badge{
    float: right;
    box-sizing: border-box;
    border: 1px solid #c6e1ff;
    border-radius: 3px;
    background-color: #f3f8ff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 8%);
    padding-left: 8px;
    padding-right: 8px;
    overflow: hidden;
    position: relative;
}
.adress_badge_title{
   font-size:1rem ;
   font-weight: bold;
    text-align: right;
}
.adress_badge_text{
   line-height:1.2rem;
    text-align: right;
}

.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    }
    
.div1 {
     grid-area: 3 / 1 / 4 / 8;
 }
.div2 {
    justify-self: center;
    align-self: center; 
    grid-area: 3 / 8 / 4 / 9;
    height: 2.5rem;
 }
.info_text{
    margin-top: 2rem;
    max-width: 321px;
    text-align: right;
    float: right;
}
.info_text_photos{
    margin-top: 2rem;
    max-width: 90vw;
    text-align: right;
    float: right;
    line-height: 1rem;
    
}
.property_type{
    overflow-y: scroll;
    line-height: 2.5rem;
    text-align: right;
    float: right;
    text-align-last: right;
}
.property_type_title{
font-weight: 500;
margin-bottom: -0.5em;
}
.property_type_select{
    direction: rtl;
    text-align: right;
    text-align-last: right;
    width: 90vw;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
option{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 0.5rem;
}
.settlement_input{
    width: 90vw;
    margin-bottom: -3rem;
}::placeholder {
    font-size: 1rem;
  }

.address_city{
    width:90vw;
    float: right;
    border: 1px solid #ccc;
    /* padding: 15px; */
    border-radius: 4px;
    /* width: 100%; */
    font-weight: 400;
}
.address_street{
    width:90vw;
    float: right;
}
.address_house_num{
    width:40vw;
    float: right;
}
.parent_of_floor {
    /* margin-top: 8rem; */
    direction: rtl;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    float: right;
    width:100%;
    height: 100px;
    /* background: saddlebrown; */
    }

    .floor1 {
        justify-self:right;
        grid-area: 1 / 1 / 2 / 2;
     }

.floor2 {
    justify-self:right;
    grid-area: 1 / 2 / 2 / 3; }
        .property_type_title_floor{
        float: right;
       font-weight: 500;
       margin-bottom: -0.5em;
       }
.inline_box{
    display: inline-block;
    margin-right: 0.5rem;

}
.inline_box1{
    float: right;
    display: inline-block;
}

/* buttons */
.flex-container {
    margin-top: 1rem;
    width:100%;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: normal;
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

.continue_button{
border: 1px solid #ff7100;
background-color: white;
color: #ff7100;
font-weight: 500;
border-radius: 17.5px;
padding: 0.3rem 1.6rem 0.3rem;
}
.prev_button{
    padding: 0.3rem 1.6rem 0.3rem;
color: gray;    
background-color: white;

    border: 1px solid gray;
    border-radius: 19px;

}
.radio_group
{
    width:90vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.radio_div1 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid gray;
    display: flex;
  justify-content: center;
    grid-area: 1 / 1 / 2 / 2;
 }
.radio_div2 {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    display: flex;
  justify-content: center;
     grid-area: 1 / 2 / 2 / 3;
     }
.radio_div3 {display: flex;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    
    justify-content: center; grid-area: 1 / 3 / 2 / 4; }
.radio_div4 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid gray;
    display: flex;
    justify-content: center; grid-area: 1 / 4 / 2 / 5; }

    .parent_prop {
        direction: rtl;
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        }
        
        .div1_prop {
            text-decoration: none;
            grid-area: 1 / 1 / 2 / 2;
            border: 1px solid gray;
            background-color: white;
            border-radius: 25px;
            padding-right: 1rem;
        }:focus{
            outline:none !important;
        }
        .div2_prop { 
             grid-area: 1 / 2 / 2 / 3;
            border: 1px solid gray;
            background-color: white;
            border-radius: 25px;
            padding-right: 1rem; }
        .div3_prop { grid-area: 2 / 1 / 3 / 2;
            border: 1px solid gray;
            background-color: white;
            border-radius: 25px;
            padding-right: 1rem; }
        .div4_prop { grid-area: 2 / 2 / 3 / 3;
            border: 1px solid gray;
            background-color: white;
            border-radius: 25px;
            padding-right: 1rem; }
        .div5_prop { grid-area: 3 / 1 / 4 / 2;
            border: 1px solid gray;
            background-color: white;
            border-radius: 25px;
            padding-right: 1rem; }
        .div6_prop { grid-area: 3 / 2 / 4 / 3;
            border: 1px solid gray;
            background-color: white;
            border-radius: 25px;
            padding-right: 1rem; }
        .div7_prop { grid-area: 4 / 1 / 5 / 2;
            border: 1px solid gray;
            background-color: white;
            border-radius: 25px;
            padding-right: 1rem; }
        .div8_prop { grid-area: 4 / 2 / 5 / 3;
            border: 1px solid gray;
            background-color: white;
            border-radius: 25px;
            padding-right: 1rem; }
        .div9_prop { grid-area: 5 / 1 / 6 / 2;
            border: 1px solid gray;
            background-color: white;
            border-radius: 25px;
            padding-right: 1rem; }
        .div10_prop { grid-area: 5 / 2 / 6 / 3;
            border: 1px solid gray;
            background-color: white;
            border-radius: 25px;
            padding-right: 1rem; }
        .div11_prop { grid-area: 6 / 1 / 7 / 2;
            border: 1px solid gray;
            background-color: white;
            border-radius: 25px;
            padding-right: 1rem; }
        .div12_prop { grid-area: 6 / 2 / 7 / 3;
            border: 1px solid gray;
            background-color: white;
            border-radius: 25px;
            padding-right: 1rem; }
        .div13_prop { grid-area: 7 / 1 / 8 / 2;
            border: 1px solid gray;
            background-color: white;
            border-radius: 25px;
            padding-right: 1rem; }
.prop_text{
    margin-right: 0.2rem;
}
.active{
    background-color: gray;
    color: black;
}
.remove_background{
background-color: white;
color: black;
}
.remove_background:focus{
    background-color: white;
    color: #ff7100;
}
.text_area{
    width: 90vw;
    height: 10rem;
    padding: 1.5rem 1rem 0rem;
    text-align: right;
}::placeholder {
    text-align: right;
    line-height: 1rem;
  }
  .limit_left{
      color: rgb(156, 156, 156);
      
  }

  /* 4 */
  .build_mr{
    width:80vw;
    float: right;
}
.date{
    width:40vw;
    float: right;
}
.main_photo{
    direction: rtl;
    padding: 2rem;
    border: 2px solid gray;
    float: right;
    width: 6rem;
    height: 6rem;
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    /* position: absolute; */
  }
  
  .file-input label {
    display: block;
    float: right;
    /* margin-top: 10rem; */
    position: relative;
    width: 8rem;
    height: 8rem;
    border: 2px dotted gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
    font-weight: bold;
    cursor: pointer;
    /* transition: transform .2s ease-out; */
  }
  .file-input_photo label {
    display: block;
    float: left;
    /* margin-top: 10rem; */
    position: relative;
    width: 8rem;
    height: 8rem;
    border: 2px dotted gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
    font-weight: bold;
    cursor: pointer;
    /* transition: transform .2s ease-out; */
  }
  .file-input label span{
    display: block;
    align-self: center;
    justify-self: center;
    margin-top: -3rem;
  }

  .file-input_photo label span{
    display: block;
    align-self: center;
    justify-self: center;
    margin-top: -3rem;
  }

  
  .file-name {
    float: left;
    font-size: 0.85rem;
    color: #555;
  }

.flex-container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: normal;
    width: 80vw;
    float:right;
    margin-top: 20px;
  }
  
  .flex-items1:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items1:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  /* input[type="file"] {
    border: 2px dotted gray;
    border-radius:5px ;
    color: transparent !important;
 }::-webkit-file-upload-button {
    display: none;
  } */

  .parent3 {
      /* margin-top: 200px; */
      margin-top: 2rem;
    display: grid;
    float: right;
    width: 80vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    }
    
    .div33 { 
        
        align-items: center;
        content: 'aaaaa';
        grid-area: 1 / 1 / 2 / 2;
    width: 35vw;
height: 30vw; border: 2px dotted gray;
border-radius:5px ;
color: transparent !important;
}::-webkit-file-upload-button {
display: none;
}
    .div44 { grid-area: 1 / 2 / 2 / 3;
        width: 35vw; 
height: 30vw; border: 2px solid gray;
border-radius:5px ;
color: transparent !important;
overflow:'hidden'
}::-webkit-file-upload-button {
display: none;
}

.submit_photo{
    position: relative;
    float: right;
    width: 80vw;
    overflow: hidden;
}
.input_file_title{
    text-align: center;
    color: black;
    float: right;
}
.parent_phone {
    display: grid;
    /* text-align: right; */
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    }
    
    .div1_phone { 
        /* background-color: blanchedalmond; */
        /* width: 100%; */
        height: 2rem;
         grid-area: 1 / 1 / 2 / 2; 
        }
    .div2_phone {
        height: 2rem;
        grid-area: 1 / 2 / 2 / 3; }

        .parent_Route {
            float: right;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            }
            
            .div1__Route { grid-area: 1 / 1 / 2 / 2; }
            .div2__Route { grid-area: 2 / 1 / 3 / 2; }
            .div3__Route { grid-area: 3 / 1 / 4 / 2; }
.extra_products{
    width: fit-content;
    margin:10px auto 80px;
}
.pic_upload_not_finish{
    opacity: 0.2;
}
.waiting_for_pic_msg{
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}